body{background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(bag4.jpg);
}
header {
    position: relative;
    height:800px; 
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.background-video {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #333;
        text-align: center;
      }

.li1{display: inline-block;}

.li1 a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

nav a:hover{
    
    color: #fff;
    background-color:#04407a ;}

#buy{
    color:rgb(185, 29, 29);
    font-weight: bold;
    font-size: 80px;
}
h3{
    text-align: center;}
fieldset{
    background-image:url(redxblack.jpg) ;
    border-radius: 10px;
    color: #ffffff;
    font-size: large;
    
}
fieldset li{
    list-style-type: none;
}
.button2{
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    color:rgb(255, 255, 255);
    line-height: 2.5;
    padding:  0 20px;
    border-radius: 10px;
    background-color:#000000;
    border-color: white;
}

input,option{
        color: white;
}
select{
    color: white;
}
input ,select{
        background-color: #000000;
        border-radius: 5px;
}
button:hover{
        background-image:url(redxblackw.jpg) ;
        color: white;
}

        
footer {
    background-color: black;
    color: #ffffff;
    margin-top: 20px;
    padding: 5px;
    border-radius: 20px;}
footer a {
    
    color: white;
    text-decoration: none;
    margin: 0 5px;}

footer a:hover {
    text-decoration: underline;
    color: rgba(94, 98, 165, 0.795);
}
footer p {
    
    text-align: center;
}